.web-top3{
    background-image: url(/src/assets/images/cennik_tlo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 290px 15%;
}
.main-cont2{
    margin-top: -50px;
}
.site-navbar{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.site-navbar a{
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 400;
    color: rgba(8, 20, 52, 1); 
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.45);
    transition: 0.1s;
}
.site-navbar a:hover{
    font-weight: 700;
    color: rgba(15, 39, 103, 1);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 5px;
}
#blue{
    font-weight: 700;
    color: rgba(15, 39, 103, 1);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 5px;
}
.offer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#b1{
    gap: 140px;
}
#b2{
    gap: 200px;
}
#b3{
    gap: 150px;
}
#b4{
    gap: 115px;
}
#b5{
    gap: 120px;
}
#b6{
    gap: 150px;
}
.offers{
    padding-bottom: 150px;
}
.offer-box img{
    max-height: 384px;
}
.offer-name{
    font-family: Playfair Display;
    font-size: 38.19px;
    font-weight: 800;
    letter-spacing: 0.1em;
    margin-top: 0;
}
.offer-price{
    display: flex;
    align-items: center;
    padding: 5px 0;
    width: 483px;
}
.offer-price p, .price{
    font-family: Poppins;
    font-size: 15.88px;
    font-weight: 500;
    margin: 0;
}
.price{
    margin-left: auto;
    font-weight: 600;
    white-space: nowrap;
}
.offer-line{
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    max-width: 477px;
}
.margin-right{
    margin-left: -30px;
}
.margin-left{
    margin-left: 30px;
}
.showMobile{
    display: none;
}
/*media*/
@media (max-width: 1280px) {
    .offer-box{
        gap: 50px;
    }
    .margin-left, .margin-right{
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 10px;
    }
}
@media (max-width: 1070px) {
    .offer-box{
        display: block;
    }
    .offer-box img{
        width: 250px;
    }
    .offer-box{
        text-align: center;
    }
    .offer-price, .offer-line{
        margin: auto;
    }
    .offer-price p{
        text-align: left;
    }
    .hideMobile{
        display: none;
    }
    .showMobile{
        display: block;
    }
}
@media (max-width: 730px) {
    .site-navbar{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 628px) {
    .offer-price, .offer-line{
        width: auto;
        max-width: none;
    }
    .offer-price{
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 420px) {
    .web-top3{
        padding-left: 7%;
        padding-right: 7%;
    }
}
@media (max-width: 370px) {
    .site-navbar{
        display: block;
        text-align: center;
        gap: 30px;
    }
}